/* include, _reset, _base, _header */
@import "include/reset";
@import "include/base";

header#header{
	position: relative;
	.top{
		background: #0d2b53;
		.dropdown{
			float: left;
		    .btn-default{
				border: 0;
			    background: 0;
			    color: #fff;
			    @extend .trs;
		    }
		    .btn-default:hover{
		    	background: #092347;@extend .trs;
		    }
		}
		.controls{
			text-align: right;
			a{
				display: inline-block;
				line-height: 32px;
				font-size: 12px;
				position: relative;
				color: #fff;
				padding: 0 25px 0 35px;
				@extend .trs;
				margin-left: -2px;
			}
			a:after{
				@extend .ia;
				left: 15px;
				top: 0;
				height: 25px;
				width: 15px;
				background-position: 0 0;
			}
			a.btn-book:after{
				top: 7px;
			}
			a.btn-register:after{
			    background-position: -38px 0;
    			top: 6px;
			}
			a.btn-login:after{
				background-position: -17px 0;
				top: 9px;
			}
			a:hover{
				background: $mc;
				@extend .trs;
			}
		}
	}
	.main{
		background: #092347;
		.logo{
			padding-top: 10px;
			img:hover{
				opacity: .8;
			}
		}
		.menu{
			li{
				display: inline-block;
				a{
					display: inline-block;
					height: 100%;
					font-size: 13px;
					font-family: 'latob';
					color: #fff;
					text-transform: uppercase;
					line-height: 68px;
					padding: 0 38px;
					margin-right: -3px;
					@extend .trs;
				}
			}
			li.active a, li a:hover{
				color: #fff701;
				background: #003e95;
				@extend .trs;
			}
		}
	}
}

/*mainslider*/
.group-slide{
	position: relative;
	overflow: hidden;
	.controls{
		span{
			display: block;
			height: 90px;
			width: 90px;
			background: rgba(13,43,83,.7);
			position: absolute;
			@include br(45px);
			top: 50%;
			margin-top: -45px;
			z-index: 999;
			cursor: pointer;
			@extend .trs;
		}
		span:hover{
			background: rgba(0, 159, 226, .7);
			@extend .trs;
		}
		span.next-mainslider{
			right: -45px;
		}
		span.prev-mainslider{
			left: -45px;
		}
		span:before{
			@extend .ia;
			z-index: 9999;
			width: 16px;
			height: 27px;
			background-position: 0 -73px;
			top: 50%;
			margin-top: -13.5px;
			left: 32%;
			margin-left: -8px;
		}
		span.prev-mainslider:before{
			background-position: -38px -73px;
			left: 68%;
		}
	}
}
#mainslider{
	.ls-nav-next, .ls-nav-prev, .ls-bottom-nav-wrapper{
		display: none !important;
	}
}
p.head{
	font-size: 20px;
	color: #444;
	text-transform: uppercase;
	margin: 30px 0;
	span{
		font-family: 'latob';
	}
}

/*promotion*/
.promotion{
	background: #f2f2f2;
	.item{
		.img{
			position: relative;
			img{
				@extend .trs;
			}
			.info{
				position: absolute;
				width: 100%;
				left: 0;
				bottom: 0;
				background: rgba(0,53,128,.7);
				color: #fff;
				padding: 13px 20px;
				h2{
					font-size: 14px;
					font-family: 'latob';
					margin-bottom: 4px;
				}
				p{
				}
			}
		}
		.img:hover{
			img{
				opacity: .75;
				@extend .trs;
			}
		}
		.detail{
			background: #fff;
			padding: 13px 20px;
			h2{
				font-size: 18px;
				font-family: 'latob';
				margin-bottom: 10px;
				a{
					@extend .trs;
				}
				a:hover{
					@extend .trs;
					color: #ffba02;
				}
			}
			p.fw400{
				color: #666;
				margin-bottom: 10px;
			}
			p.rate{
			}
		}
	}
	.all-promotion{
		padding: 25px 0;
		a{
			color: #666;
		}
		a:hover{
			text-decoration: underline;
		}
	}
}

/*why-choose-anadi*/
.why-choose-anadi{
	p.head{
		margin-bottom: 40px;
	}
	.item{
		margin-bottom: 30px;
		.icon{
			width: 69px;
			height: 69px;
			background: $mc;
			@include br(50%);
			background-image: url(../images/icon.png);
			@extend .trs;
		}
		.text{
			width: calc(100% - 69px);
			padding-left: 30px;
			h3{
				font-size: 20px;
				font-family: 'latob';
				margin-top: 10px;
			}
		}
		.icon.item-1{
			background-position: -5px -156px;
		}
		.icon.item-2{
			background-position: -5px -220px;
		}
		.icon.item-3{
			background-position: 0px -287px;
		}
		.icon.item-4{
			background-position: -3px -356px;
		}
		.icon.item-5{
			background-position: -7px -427px;
		}
		.icon.item-6{
			background-position: -0px -493px;
		}
	}
	.item:nth-child(4n+1){
		clear: both;
	}
	.item:hover{
		.icon{
			background-color: #ffd800;
			@extend .trs;
		}
	}
}

/*tour*/
.tour{
	padding-bottom: 30px;
	.tour-items{
		.item{
			clear: both;
			margin-bottom: 30px;
			float: left;
			width: 100%;
			.img{
				width: 190px;
				img{
					@extend .trs;
				}
			}
			.img:hover{
				img{
					opacity: .75;
					@extend .trs;
				}
			}
			.detail{
				float: left;
				width: calc(100% - 190px);
				padding-left: 20px;
				p.title{
					font-size: 15px;
					font-family: 'latob';
					margin-bottom: 20px;
					a{
						color: $mc;
						@extend .trs;
					}
					a:hover{
						color: #ffba02;
						@extend .trs;
					}
				}
				.left{
					width: 50%;
					font-family: 'latob';
					line-height: 22px;
					color: #666;
				}
				.right{
					width: 45%;
					border-left: 1px solid #ddd;
					padding-left: 15px;
					p.price{
						font-size: 20px;
						font-family: 'latob';
						color: #ffba02;
					}
					a.btn{
						margin-top: 5px;
						padding: 3px 30px;
					}
				}
			}
		}
	}
	.tour-slide{
		margin-top: 30px;
	    float: left;
	    width: 100%;
	    background: $mc;
		.img-slide{
			width: 330px;
			img{
				max-width: 100%;
			}
		}
		.detail{
			width: calc(100% - 330px);
			color: #fff;
			padding: 0 18px;
			p.text-center{
				margin-top: 60px;
				span{
					display: inline-block;
					font-size: 28px;
					border: 3px solid #fff;
					padding: 10px 20px;
					margin-bottom: 20px;
				}
			}
		}
	}
	.hotel-items{
		.item{
			margin-bottom: 30px;
			clear: both;
			float: left;
			width: 100%;
			.img{
				width: 130px;
			}
			.img:hover{
				img{
					opacity: .75;
					@extend .trs;
				}
			}
			.detail{
				width: calc(100% - 130px);
				padding-left: 20px;
				h2{
					font-size: 15px;
					font-family: 'latob';
					margin-bottom: 10px;
					a{
						color: $mc;
						@extend .trs;
					}
					a:hover{
						color: #ffba02;
						@extend .trs;
					}
				}
				p.place{
					color: #444;
					margin-bottom: 3px;
				}
				p.wish{
					margin-bottom: 10px;
					span.wish-icon{
					    position: relative;
					    top: 1px;
					    margin-right: 3px;
					}
				}
			}
		}
	}
}

/*contact-block*/
.contact-block{
	background: url(../images/footer-bg.jpg) center;
	color: #fff;
	padding: 25px 35px;
	.info{
		p.up{
			font-size: 20px;
			margin-bottom: 25px;
		}
		p.text{
			font-size: 14px;
			line-height: 22px;
		}
	}
	.form{
		p{
			font-size: 14px;
			margin-bottom: 20px;
		}
		form{
			input{
				@include br(0);
				width: calc(100% - 165px);
				float: left;
				border: 0;
			}
			button{
				width: 150px;
				float: right;
			}
		}
	}
}

/*footer#footer*/
footer#footer{
	.menu{
		background: #003580;
		li{
			display: inline-block;
			a{
				display: inline-block;
				line-height: 47px;
				color: #fff;
				text-transform: uppercase;
				padding: 0 25px;
				@extend .trs;
			}
			a:hover{
				color: #fff701;
				@extend .trs;
			}
		}
	}
	.main{
		background: #f2f2f2;
		.plan{
			font-size: 20px;
			color: $mc;
			text-transform: uppercase;
			margin: 30px 0 40px;
		}
		.col-sm-2{
			font-size: 16px;
			font-family: 'latob';
			text-transform: uppercase;
			margin-bottom: 40px;
		}
		.col-sm-10{
			margin-bottom: 40px;
			p{
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 22px;
			}
			ul{
				li{
					display: inline-block;
					margin-right: 20px;
					a{
						font-size: 14px;
						font-family: 'latob';
						color: #666;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.bottom{
		padding: 18px 0 20px;
	}
}

/*login box*/
body{
	padding-right: 0 !important;
}
.modal{
	.modal-content{
		@include br(0);		
	}
	.modal-header{
		padding: 10px 30px;
		background: #003580;
		border: 0;
		h4{
			font-family: 'latob';
			font-size: 18px;
			color: #fff;
			text-transform: uppercase;
		}
	}	
	button.close{
		color: #fff;
		font-weight: 400;
		opacity: 1;
	}
	.modal-footer{
		background: #f2f2f2;
		text-align: left;
		border-top: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
	.form-login{
		form{
			.field-group{
				margin-bottom: 10px;
				label{
					font-weight: normal;
					font-size: 14px;
					margin-bottom: 7px;
					cursor: pointer;
				}
				input{
					padding: 10px 15px;
					height: 38px;
				}
				button{
					font-family: 'latob';
					@include br(3px);
					text-transform: uppercase;
					background: #0083c8;
					padding: 8px 22px;
				}
			}
		}
	}
	.modal-body{
		float: left;
		width: 100%;
		padding: 35px 30px;
	}
	a{
		cursor: pointer;
	}
}
#loginModal{
	.modal-body{
		background: url(../images/login-box-bg.png) center no-repeat;
		.social-login{
			width: 50%;
			p{
				font-size: 14px;
				padding-top: 10px;
				margin-bottom: 25px;
			}
			a.btn{
				display: block;
				width: 80%;
				font-size: 14px;
				color: #fff;
				margin-bottom: 20px;
				text-align: left;
				padding-left: 55px;
				position: relative;
				@extend .trs;
				padding: 11.5px 10px 11.5px 55px;
			}
			a:hover{
				opacity: .8;
			}
			a.btn:before{
				@extend .ia;
				width: 27px;height: 27px;
				top: 8px;
				left: 14px;
			}
			a.fb{
				background: #314faf;
			}
			a.gg{
				background: #e84c3d;
			}
			a.tw{
				background: #0083c8;
			}
			a.fb:before{
				background-position: -69px -22px;
			}
			a.gg:before{
				background-position: -70px -54px;
			}
			a.tw:before{
				background-position: -69px -86px;
			}
		}
	}
	.form-login{
		width: 50%;
		form{
			width: 80%;
			float: right;
		}
	}
}
#getPassword{
	.modal-body{
		padding: 20px 35px 10px;
	}
}
@media (min-width: 768px){
	#loginModal{
		.modal-dialog {
		    width: 655px;
		}
	}
	#getPassword{
		.modal-dialog {
		    width: 480px;
		}
	}
}